<section class="connect-arkane-area" id="connect-arkane-area">
  <div class="container">
    <header class="connect-arkane-area__header">
      <h1 class="connect-arkane-area__heading">
        {{ include.title }}
      </h1>
    </header>

    <div class="connect-arkane-area__tree">
      <div class="connect-arkane-area__container connect-arkane-area__container--top">
        <div class="connect-arkane-area__content">
          <div class="connect-arkane-area__item top-1">
            <div class="connect-arkane-area__icon">
              <svg class="icon icon-tree-exchange">
                <use xlink:href="#icon-tree-exchange"></use>
              </svg>
            </div>
            <div class="connect-arkane-area__text">
              <div class="connect-arkane-area__title">
                Exchange
              </div>
              <ul class="connect-arkane-area__list">
                <li class="connect-arkane-area__list-item">Quick deposit / withdraw.</li>
                <li class="connect-arkane-area__list-item">Support automatic trading.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="connect-arkane-area__content">
          <div class="connect-arkane-area__item top-2">
            <div class="connect-arkane-area__icon">
              <svg class="icon icon-tree-wallets">
                <use xlink:href="#icon-tree-wallets"></use>
              </svg>
            </div>
            <div class="connect-arkane-area__text">
              <div class="connect-arkane-area__title">
                Wallet
              </div>
              <ul class="connect-arkane-area__list">
                <li class="connect-arkane-area__list-item">Secure & Recoverable.</li>
                <li class="connect-arkane-area__list-item">Use your wallet in applications.</li>
                <li class="connect-arkane-area__list-item">Outsource wallet management.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="connect-arkane-area__content">
          <div class="connect-arkane-area__item top-3">
            <div class="connect-arkane-area__icon">
              <svg class="icon icon-tree-blockchains">
                <use xlink:href="#icon-tree-blockchains"></use>
              </svg>
            </div>
            <div class="connect-arkane-area__text">
              <div class="connect-arkane-area__title">
                Blockchains
              </div>
              <ul class="connect-arkane-area__list">
                <li class="connect-arkane-area__list-item">On-board users.</li>
                <li class="connect-arkane-area__list-item">Bring app developers to your blockchain.</li>
                <li class="connect-arkane-area__list-item">Build dev tools faster.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="connect-arkane-area__tree__a">
        <img class="connect-arkane-area__tree__a__image" src="{{site.imgurl}}/tree-a.svg" alt="arkane tree"/>
      </div>

      <div class="connect-arkane-area__container connect-arkane-area__container--bottom">
        <div class="connect-arkane-area__content">
          <div class="connect-arkane-area__item bottom-1">
            <div class="connect-arkane-area__icon">
              <svg class="icon icon-tree-dapps">
                <use xlink:href="#icon-tree-dapps"></use>
              </svg>
            </div>
            <div class="connect-arkane-area__text">
              <div class="connect-arkane-area__title">
                Applications
              </div>
              <ul class="connect-arkane-area__list">
                <li class="connect-arkane-area__list-item">Bring blockchain to your app - No plugin needed.</li>
                <li class="connect-arkane-area__list-item">Lower entry to crypto for your users.</li>
                <li class="connect-arkane-area__list-item">Multi chain support.</li>
                <li class="connect-arkane-area__list-item">No wallet management.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="connect-arkane-area__content">
          <div class="connect-arkane-area__item bottom-2">
            <div class="connect-arkane-area__icon">
              <svg class="icon icon-tree-activity">
                <use xlink:href="#icon-tree-activity"></use>
              </svg>
            </div>
            <div class="connect-arkane-area__text">
              <div class="connect-arkane-area__title">
                Portfolio Tracker
              </div>
              <ul class="connect-arkane-area__list">
                <li class="connect-arkane-area__list-item">Auto Import of User’s Wallets.</li>
                <li class="connect-arkane-area__list-item">User can do transfers in-app.</li>
                <li class="connect-arkane-area__list-item">No wallet management.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
