<section class="connecting-area" id="connecting-area">
  <div class="container">
    <header class="connecting-area__header">
      <h1 class="connecting-area__heading">
        {{ include.title }}
      </h1>
    </header>

    <div class="connecting-area__layers">
      <div class="connecting-area__layer connecting-area__layer--consumers">
        <div class="connecting-area__layer__content">
          <div class="connecting-area__layer__content__title">Consumers</div>
          <div class="connecting-area__layer__content__description">
            Easy and secure access to blockchain, crypto and dapps.
          </div>
        </div>
        <div class="connecting-area__layer__image-wrapper">
          <div>
            <img class="connecting-area__layer__image" src="{{site.imgurl}}/layer-consumers.svg" alt="consumers"/>
          </div>
        </div>
      </div>
      <div class="connecting-area__layer connecting-area__layer--dapps">
        <div class="connecting-area__layer__image-wrapper">
          <div>
            <img class="connecting-area__layer__image" src="{{site.imgurl}}/layer-dapps.svg" alt="dapps"/>
          </div>
        </div>
        <div class="connecting-area__layer__content">
          <div class="connecting-area__layer__content__title">Applications</div>
          <div class="connecting-area__layer__content__description">
            A building block for app developers.
          </div>
        </div>
      </div>
      <div class="connecting-area__layer connecting-area__layer--arkane">
        <div class="connecting-area__layer__content">
          <div class="connecting-area__layer__content__title">Arkane</div>
          <div class="connecting-area__layer__content__description">
            Bring blockchain, application development & digital wallets together.
          </div>
        </div>
        <div class="connecting-area__layer__image-wrapper">
          <div>
            <img class="connecting-area__layer__image" src="{{site.imgurl}}/layer-arkane.svg" alt="arkane"/>
          </div>
        </div>
      </div>
      <div class="connecting-area__layer connecting-area__layer--blockchain">
        <div class="connecting-area__layer__image-wrapper">
          <div>
            <img class="connecting-area__layer__image" src="{{site.imgurl}}/layer-blockchain.svg" alt="blockchain"/>
          </div>
        </div>
        <div class="connecting-area__layer__content">
          <div class="connecting-area__layer__content__title">Blockchains</div>
          <div class="connecting-area__layer__content__description">Partner with emerging blockchain infrastructures.</div>
        </div>
      </div>
    </div>
  </div>
</section>
