{% include fragments/symbols-general.html %}
{% include fragments/symbols-homepage.html %}
<header class="header" id="header">
  <div class="container">
    {% include fragments/navigation.html %}
    {% include homepage/fragments/intro.html %}

    <div class="intro-right header__image__container">
      {% include fragments/svg/header-homepage.html %}
      {% comment %}
<!--      <img class="header__image" src="{{site.imgurl}}/homepage/arkane-visual-homepage.svg?{{site.time | date: '%s%N'}}" alt="arkane crypto wallet"/>-->
<!--      <div class="header__play-button">-->
<!--        {% include fragments/video/page-video-play-button.html %}-->
<!--      </div>-->
      {% endcomment %}
    </div>

  </div>
</header>
