{% include fragments/symbols.html %}
<header class="header" id="header">
  <div class="container">
    {% include fragments/navigation.html %}
    <div class="header__image__container">
      <img class="header__image" src="{{site.imgurl}}/visual-arkane.png" alt="arkane crypto wallet"/>
      <div class="header__play-button">
        {% include fragments/video/page-video-play-button.html %}
      </div>
    </div>
    {% include homepage/fragments/intro.html cta='secondary' %}
  </div>
</header>
