<section class="how-area" id="how-area">
  <div class="container">
    <header class="how-area__header">
      <h1 class="how-area__heading">
        {{ include.title }}
      </h1>
    </header>
    <div class="how-area__content">
      <div class="how-area__images">
        <img class="how-area__image" src="{{site.imgurl}}/arkane-screen-tokens.png" alt="arkane screenshot tokens"/>
        <div class="how-area__info how-area__info--multichain">
          <div class="how-area__info__text">
            <span>Manage wallets on multiple blockchains</span>
          </div>
          <div class="how-area__info__zoom">
            <div class="how-area__info__zoom__image-wrapper">
              <img class="how-area__info__zoom__image" src="{{site.imgurl}}/arkane-screen-tokens.png" alt="arkane screenshot tokens zoomed"/>
            </div>
          </div>
        </div>
        <div class="how-area__info how-area__info--tokens">
          <div class="how-area__info__text">
            <span>Have a look to all tokens and apps connected with Arkane.</span>
          </div>
          <div class="how-area__info__zoom">
            <div class="how-area__info__zoom__image-wrapper">
              <img class="how-area__info__zoom__image" src="{{site.imgurl}}/arkane-screen-tokens.png" alt="arkane screenshot tokens zoomed"/>
            </div>
          </div>
        </div>
        <div class="how-area__info how-area__info--account">
          <div class="how-area__info__text">
            <span>One account and one place to manage all your wallets.</span>
          </div>
        </div>
        <div class="how-area__info how-area__info--apps">
          <div class="how-area__info__text">
            <span>Grant / revoke access to (d)apps</span>
          </div>
          <div class="how-area__info__zoom">
            <div class="how-area__info__zoom__image-wrapper">
              <img class="how-area__info__zoom__image" src="{{site.imgurl}}/arkane-screen-tokens.png" alt="arkane screenshot tokens zoomed"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
