<section class="info-area" id="info-area">
  <div class="container">
    <div class="info-area__items">
      {% include fragments/info-item.html title="Simplicity"                icon="circle-notch"   description="With Arkane accessing your digital treasures is as easy as signing in using one of your social accounts and creating a new blockchain address is just one single click away." %}
      {% include fragments/info-item.html title="Never lose your treasures" icon="shield-check"   description="Protecting your digital valuables is our top proirity. Not only is security implemented in different levels of our solution, our system is also 24/7 tested by ethical hackers." %}
      {% include fragments/info-item.html title="A single page of access"   icon="chart-network"  description="A single place of access. One account to manage all your digital items across several blockchains, accessible from any device, anywhere." %}
    </div>
  </div>
</section>
