<section class="testimonials-area" id="testimonials-area">
  <div class="container">
    <header class="testimonials-area__header">
      <h1 class="testimonials-area__heading">
        {{ include.title }}
      </h1>
    </header>

    <!--<div class="testimonials-area__testimonials">-->
    <div class="testimonials-area__testimonial">
      <div class="testimonials-area__testimonial__content">
        <div class="testimonials-area__testimonial__text">
          Arkane solves a real problem and gives me fresh insights to build more useful features on top of
          <strong><a class="link link--dark" href="https://coinstats.app/">Coin Stats</a></strong>.
        </div>
        <div class="testimonials-area__testimonial__author">
          <div class="testimonials-area__testimonial__photo">
            <img src="{{site.imageurl}}/testimonial-author-narek.jpg" alt="Narek - Fonder Coin Stats">
          </div>
          <div class="testimonials-area__testimonial__id">
            <div class="testimonials-area__testimonial__name">
              Narek
            </div>
            <div class="testimonials-area__testimonial__description">
              Founder Coin Stats
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonials-area__testimonial">
      <div class="testimonials-area__testimonial__content">
        <div class="testimonials-area__testimonial__text">
          Thanks to Arkane we were able to build Thorblock faster and make it a user-friendly pooling service with a built-in Vechain wallet.
        </div>
        <div class="testimonials-area__testimonial__author">
          <div class="testimonials-area__testimonial__photo">
            <img src="{{site.imageurl}}/testimonial-author-jurgen.jpg" alt="Jurgen - Founder SafeHaven">
          </div>
          <div class="testimonials-area__testimonial__id">
            <div class="testimonials-area__testimonial__name">
              Jurgen
            </div>
            <div class="testimonials-area__testimonial__description">
              Founder Safe Haven
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonials-area__testimonial">
      <div class="testimonials-area__testimonial__content">
        <div class="testimonials-area__testimonial__text">
          With Arkane we can build blockchain applications for our enterprise clients without becoming blockchain experts ourselves.
        </div>
        <div class="testimonials-area__testimonial__author">
          <div class="testimonials-area__testimonial__photo">
            <img src="{{site.imageurl}}/testimonial-author-jan.jpg" alt="Jan - Director In The Pocket">
          </div>
          <div class="testimonials-area__testimonial__id">
            <div class="testimonials-area__testimonial__name">
              Jan
            </div>
            <div class="testimonials-area__testimonial__description">
              Director In The Pocket
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonials-area__cta">
      <h2 class="testimonials-area__cta__title">
        Our customers are satisfied, give Arkane a try!
      </h2>
      <a class="btn btn--brand-light testimonials-area__cta__button" href="https://app.arkane.network">
        Register
      </a>
    </div>
  </div>
</section>
