<section class="use-cases-area" id="use-cases-area">
  <div class="container">
    <header class="use-cases-area__header">
      <h1 class="use-cases-area__heading">
        {{ include.title }}
      </h1>
    </header>

    <div class="use-cases-area__item">
      <div class="use-cases-area__image">
        <img src="{{site.imageurl}}/testimonial-author-jan.jpg" alt="Jan - Director In The Pocket">
      </div>
      <div class="use-cases-area__text">
        <div class="use-cases-area__title">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
        </div>
        <div class="use-cases-area__description">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
        <div class="use-cases-area__note">
          Written by X on 00/00/2018
        </div>
      </div>
    </div>

    <div class="use-cases-area__item">
      <div class="use-cases-area__image">
        <img src="{{site.imageurl}}/testimonial-author-jan.jpg" alt="Jan - Director In The Pocket">
      </div>
      <div class="use-cases-area__text">
        <div class="use-cases-area__title">
          Lorem ipsum dolor sit amet.
        </div>
        <div class="use-cases-area__description">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
        <div class="use-cases-area__note">
          Written by X on 00/00/2018
        </div>
      </div>
    </div>
  </div>
</section>
