<section class="use-cases-area" id="use-cases-area">
  <div class="container">
    <header class="use-cases-area__header">
      <h1 class="use-cases-area__heading">
        {{ include.title }}
      </h1>
    </header>

    {% capture thorblock %}
      <p><a class="link" href="https://thorblock.io/" target="_blank" title="ThorBlock website">ThorBlock</a> is a pooling service on the VeChain blockchain uses Arkane's services to
        provide their users a hassle free and easy user experience.</p>

      <p>ThorBlock uses following components of Arkane:</p>
      <ul>
        <li>User Authentication</li>
        <li>Wallet provisioning</li>
        <li>Transaction handling</li>
      </ul>

      <p>Making blockchain apps more user-friendly is a goal both Safe Haven and Arkane Network have in common.</p>
      <a class="link" href="https://medium.com/arkane-network/case-study-how-thorblock-leverages-the-power-of-arkane-network-614f96fce9f2" target="_blank"
         title="ThorBlock case study blog">Read more here ...</a>
    {% endcapture %}
    {% include fragments/use-case.html image="use-case-thorblock.jpg" imageAlt="ThorBlock"  title="ThorBlock - Pooling service on VeChain" content=thorblock %}


    {% capture placeholder %}
    <p>Want to build powerful blockchain applications without in depth blockchain knowledge?</p>
    <p>Use Arkane Connect, a simple-to-use javascript library to integrate blockchain into your apps.</p>
    <p>Start now by requesting your free API key</p>
    <div class="use-cases-area__ctas">
      <a class="btn btn--secondary" href="https://arkane-network.typeform.com/to/kTGcKf" target="_blank">
        Request API Key
      </a>
      <a class="link" href="https://docs.arkane.network" target="_blank" title="API documentation">Or view documentation</a>
    </div>
    {% endcapture %}
    {% include fragments/use-case.html image="use-case-placeholder.jpg" placeholder="Your use case here?" imageAlt="API Key"  title="Tools for app developers to use and abuse" content=placeholder %}
  </div>
</section>
