---
title: Next generation blockchain wallet provider
page: index
---
<!doctype html>
<html class="no-js" lang="en">

<head>
  {% include head.html %}
</head>

<body>
<div class="bg" data-page-bg="{{site.imgurl}}/bg-homepage-large.png"></div>
<div class="bg-big" data-page-bg-big="true"></div>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
  your browser</a> to improve your experience and security.</p>
<![endif]-->

{% include homepage/header.html %}
{% include homepage/info-area.html title='Why Arkane' %}
{% include homepage/rewards-area.html %}
{% include homepage/keep-in-touch-area.html cta='brand-light' %}
{% include footer.html %}
{% include scripts.html %}

</body>

</html>


