---
title: Next generation blockchain wallet provider
page: index
---
<!doctype html>
<html class="no-js" lang="">

<head>
  {% include head.html %}
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <!-- Add your site or application content here -->
  <div class="keycloak-logged-in">
    <div><span id="keycloak-username">Anoniem</span></div>
    <a id="keycloak-logout" href="#"><span>Logout</span></a>
    <a id="keycloak-requestaccess" href="#"><span>Get access</span></a>
  </div>
  <div class="keycloak-not-logged-in">
      <a id="keycloak-loginlink" href="#">Login in</a>
  </div>
  {% include scripts.html %}
</body>

</html>


