---
title: Next generation blockchain wallet provider
page: index
---
<!doctype html>
<html class="no-js" lang="">

<head>
  {% include head.html %}
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <!-- Add your site or application content here -->
  <a class="keycloak-logged-in" href="#"><span id="keycloak-username">Anoniem</span></a>
  <a class="keycloak-logged-in" id="keycloak-logout" href="#"><span>Logout</span></a>
  <a class="keycloak-not-logged-in" id="keycloak-loginlink" href="#">Login in</a>
  {% include scripts.html %}
</body>

</html>


