<div class="connecting-area__layer connecting-area__layer--arkane">
  <div class="connecting-area__layer__image-wrapper connecting-area__layer__image-wrapper--small">
    <img class="connecting-area__layer__image" src="{{site.imgurl}}/layer-arkane-small.svg" alt="dapps"/>
  </div>
  <div class="connecting-area__layer__content">
    <div class="connecting-area__layer__content__title">Arkane</div>
    <div class="connecting-area__layer__content__description">
      Bring blockchain, application development & digital wallets together.
    </div>
  </div>
  <div class="connecting-area__layer__image-wrapper connecting-area__layer__image-wrapper--big">
    <div>
      <img class="connecting-area__layer__image" src="{{site.imgurl}}/layer-arkane.svg" alt="arkane"/>
    </div>
  </div>
</div>
