<div class="connecting-area__layer connecting-area__layer--blockchain">
  <div class="connecting-area__layer__image-wrapper connecting-area__layer__image-wrapper--big">
    <div>
      <img class="connecting-area__layer__image" src="{{site.imgurl}}/layer-blockchain.svg" alt="blockchain"/>
    </div>
  </div>
  <div class="connecting-area__layer__image-wrapper connecting-area__layer__image-wrapper--small">
    <img class="connecting-area__layer__image" src="{{site.imgurl}}/layer-blockchain-small.svg" alt="dapps"/>
  </div>
  <div class="connecting-area__layer__content">
    <div class="connecting-area__layer__content__title">Blockchains</div>
    <div class="connecting-area__layer__content__description">Partner with emerging blockchain infrastructures.</div>
  </div>
</div>
