<div class="connecting-area__layer connecting-area__layer--consumers">
  <div class="connecting-area__layer__content">
    <div class="connecting-area__layer__content__title">Consumers</div>
    <div class="connecting-area__layer__content__description">
      Easy and secure access to blockchain, crypto and dapps.
    </div>
  </div>
  {% if include.desktop %}
  <div class="connecting-area__layer__image-wrapper">
    <div>
      <img class="connecting-area__layer__image" src="{{site.imgurl}}/layer-consumers.svg" alt="consumers"/>
    </div>
  </div>
  {% endif %}
</div>
