{% include fragments/symbols.html %}
<header class="header" id="header">
  <div class="container">
    {% include fragments/navigation.html %}
    {% include fragments/intro.html cta='success' %}

    <div class="header__cta">
      <svg class="header__cta__svg" viewBox="0 0 400 200">
        <polygon points="0,0 0,200 400,200" class="header__cta__svg__triangle" />
      </svg>
      <div class="header__cta__content">
        <a class="link" href="#">Chrome Extension</a><br />
        <span>coming soon!</span>
      </div>
    </div>
    <div class="header__case-studies">
      <div class="header__case-studies__content">
        <span>Take a look to some case studies</span>
        <a href="#" class="btn btn--light header__case-studies__btn">Take a look</a>
      </div>
    </div>
  </div>
</header>
