<section class="pricing-area" id="pricing-area">
  <div class="container">
    <header class="pricing-area__header">
      <h1 class="pricing-area__heading">
        Choose your plan
      </h1>
      <h2 class="pricing-area__subheading">
        * You can try PREMIUM for free during 3 Months!
      </h2>
    </header>
    <div class="pricing-area__subscriptions">
      {% include fragments/pricing-block-free.html %}
      {% include fragments/pricing-block-premium.html cta='brand-light' %}
      {% include fragments/pricing-block-ultimate.html %}
    </div>
    <div class="pricing-area__banner">
      <header class="pricing-area__banner__header">
        <h1 class="pricing-area__banner__heading">Earn gems according to your activity</h1>
      </header>
      <p class="pricing-area__banner__message">Be rewarded for accomplishing small challenges</p>
    </div>
  </div>
</section>
