<footer class="footer" id="footer">
  <div class="footer__container">
    <div class="footer__content">
      <div class="footer__title">
        <img class="footer__logo" src="{{site.imageurl}}/logo-arkane-white.svg"/>
      </div>
      <div class="footer__section footer__section--address">
        <div class="footer__section__content">
          <div class="footer__section__title">
            <img class="footer__logo" src="{{site.imageurl}}/logo-arkane-white.svg"/>
          </div>
          <div class="footer__contact-details">
            <p>Business Park Rivium</p>
            <p>Antwerpsesteenweg 45</p>
            <p>Willebroek</p>
            <p>Belgium</p>
          </div>
        </div>
      </div>

      <div class="footer__section">
        <div class="footer__section__content">
          <div class="footer__section__title">
            Product
          </div>
          <ul class="footer__section__links">
            <!--<li class="footer__section__link"><a href="#" class="link link&#45;&#45;light">Arkane</a></li>-->
            <!--<li class="footer__section__link"><a href="#case-studies" class="link link&#45;&#45;light">Case Studies</a></li>-->
            <!--<li class="footer__section__link"><a href="#pricing" class="link link&#45;&#45;light">Pricing</a></li>-->
            <li class="footer__section__link"><a href="#crypto-users" class="link link--light">Crypto Users</a></li>
            <li class="footer__section__link"><a href="#blog" class="link link--light">Blog</a></li>
          </ul>
        </div>
      </div>

      <div class="footer__section">
        <div class="footer__section__content">
          <div class="footer__section__title">
            Developers
          </div>
          <ul class="footer__section__links">
            <li class="footer__section__link"><a href="#developers" class="link link--light">Developers</a></li>
            <li class="footer__section__link"><a href="#api-docs" class="link link--light">API Docs</a></li>
          </ul>
        </div>
      </div>

      <div class="footer__section">
        <div class="footer__section__content">
          <div class="footer__section__title">
            Help
          </div>
          <ul class="footer__section__links">
            <!--<li class="footer__section__link"><a href="#faq" class="link link&#45;&#45;light">FAQ</a></li>-->
            <li class="footer__section__link"><a href="#contact" class="link link--light">Contact</a></li>
            <li class="footer__section__link"><a href="#terms-of-service" class="link link--light">Terms of service</a>
            </li>
            <li class="footer__section__link"><a href="#privacy" class="link link--light">Privacy</a></li>
          </ul>
        </div>
      </div>

      <div class="footer__section footer__section--social">
        <div class="footer__section__content">
          <div class="footer__section__social">
            <a href="#medium" class="link link--light link--social">
              <svg class="icon icon-medium">
                <use xlink:href="#icon-medium"></use>
              </svg>
            </a>
            <a href="#twitter" class="link link--light link--social">
              <svg class="icon icon-twitter">
                <use xlink:href="#icon-twitter"></use>
              </svg>
            </a>
            <a href="#telegram" class="link link--light link--social">
              <svg class="icon icon-telegram">
                <use xlink:href="#icon-telegram"></use>
              </svg>
            </a>
          </div>
          <!--<div class="footer__lang-switch">-->
            <!--<div tabindex="99" class="lang-switch">-->
              <!--<svg class="icon icon-chevron-small-down"><use xlink:href="#icon-chevron-small-down"></use></svg>-->
              <!--<a href="#en" class="lang-switch__item lang-switch__item&#45;&#45;active">EN</a>-->
              <!--<a href="#nl" class="lang-switch__item">NL</a>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <div class="footer__powered-by">
      Powered by FundRequest 2018. All rights reserved. Ⓒ Copyright.
    </div>
  </div>
</footer>
