<footer class="footer" id="footer">
  <div class="footer__container">
    <div class="footer__content">
      <div class="footer__section footer__section--address">
        <div class="footer__section__content">
          <div class="footer__section__title">
            <svg class="footer__logo">
              <use width="64" height="64" xlink:href="#icon-arkane-a-light"></use>
            </svg>
          </div>
          <div class="footer__contact-details">
            <strong>Arkane Network</strong>
            <p>Antwerpsesteenweg 45</p>
            <p>2830 Willebroek</p>
            <p>Belgium</p>
          </div>
        </div>
      </div>

      <div class="footer__section">
        <div class="footer__section__content">
          <div class="footer__section__title">
            Product
          </div>
          <ul class="footer__section__links">
            <li class="footer__section__link"><a href="https://arkane.network" class="link link--dark">For Users</a></li>
            <li class="footer__section__link"><a href="{{ '/build-on-arkane.html' | prepend: site.pagesurl }}" class="link link--dark">For Developers</a></li>
            <li class="footer__section__link"><a rel="noopener noreferrer" href="https://medium.com/arkane-network" class="link link--dark">Blog</a></li>
          </ul>
        </div>
      </div>

      <div class="footer__section">
        <div class="footer__section__content">
          <div class="footer__section__title">
            Developers
          </div>
          <ul class="footer__section__links">
            <li class="footer__section__link"><a href="https://docs.arkane.network/" class="link link--dark">Documentation</a></li>
            <li class="footer__section__link"><a href="https://docs-staging.arkane.network/pages/connect-js.html" class="link link--dark">Javascript SDK</a></li>
                        <li class="footer__section__link"><a href="https://docs-staging.arkane.network/pages/web3-provider.html" class="link link--dark">Web3 Provider</a></li>
          </ul>
        </div>
      </div>

      <div class="footer__section">
        <div class="footer__section__content">
          <div class="footer__section__title">
            Support/Legal
          </div>
          <ul class="footer__section__links">
            <li class="footer__section__link"><a href="{{ '/terms.html' | prepend: site.pagesurl }}" class="link link--dark">Privacy</a></li>
            <li class="footer__section__link"><a href="{{ '/terms.html' | prepend: site.pagesurl }}" class="link link--dark">Terms of service</a>
            </li>
            <li class="footer__section__link"><a rel="noopener noreferrer" href="mailto:info@arkane.network" class="link link--dark">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="footer__section footer__section--social">
        <div class="footer__section__content">
          <div class="footer__section__title">
            Follow us
          </div>
          <div class="footer__section__description">
            Keep up with the latest news.
          </div>
          <div class="footer__section__social">
            <a href="https://medium.com/arkane-network" rel="noopener noreferrer" class="link link--dark link--social">
              <span class="sr-only">Arkane Network medium</span>
              <svg class="icon icon-medium">
                <use xlink:href="#icon-medium"></use>
              </svg>
            </a>
            <a href="https://twitter.com/NetworkArkane" rel="noopener noreferrer" class="link link--dark link--social">
              <span class="sr-only">Arkane Network twitter</span>
              <svg class="icon icon-twitter">
                <use xlink:href="#icon-twitter"></use>
              </svg>
            </a>
            <a href="https://t.me/ArkaneNetworkOfficial" rel="noopener noreferrer" class="link link--dark link--social">
              <span class="sr-only">Arkane Network telegram</span>
              <svg class="icon icon-telegram">
                <use xlink:href="#icon-telegram"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="footer__powered-by">
  Ⓒ All rights reserved. Copyright 2019 Arkane B.V.B.A
</div>
