<section class="newsletter" id="newsletter">
  <div class="container">
    <header class="newsletter__header">
      <h1 class="newsletter__heading">
        Stay up to date about the latest articles from the blog, tips, via our newsletter
      </h1>
      <h2 class="newsletter__subheading">
        Subscribe to our mailing list and get benefits
      </h2>
    </header>
    <form class="container" action="#newsletter">
      <div class="control">
        <div class="control__label">
          E-mail address
        </div>
        <input type="email" class="control__input" placeholder="Enter your e-mail address" />
      </div>
      <div class="newsletter__cta">
        <button type="submit" class="btn btn--{{include.cta}}">
          Get our newsletter
        </button>
      </div>
    </form>
  </div>
</section>
