.connecting-area
  padding: 0 0 rem(100px) 0
  background-color: $color-bg-grey

  &__header
    text-align: center
    color: $color-text
    position: relative
    z-index: 1
    margin-top: rem(50px)
    @include media(tablet-ls)
      margin-top: rem(-48px)

  &__heading
    font-weight: $font-weight-normal
    font-size: $font-size-heading-h1
    margin-bottom: rem(60px)

  &__layer
    display: flex
    align-items: center
    position: relative
    width: calc(100% + #{rem(100px)})
    max-width: rem(400px)
    margin: 0 auto rem(-20px) auto
    transform: translateX(#{rem(-100px)})
    &:last-child
      margin-bottom: rem(20px)

    @media only screen and (min-width: 440px)
      max-width: 100%
      transform: translateX(0)

    @include media(tablet)
      justify-content: center
      margin: 0 0 rem(-20px) 0
      &::before,
      &::after
        width: 30%
    @include media(tablet-ls)
      margin-bottom: rem(-40px)
    @include media(desktop)
      margin-bottom: rem(-50px)
    @include media(wide)
      margin-bottom: rem(-60px)

    &__content
      padding: 0 rem(16px)
      @include media(tablet)
        width: 30%

      &__title
        font-weight: $font-weight-bold
        font-size: $font-size-default
      &__description
        font-weight: $font-weight-normal
        font-size: $font-size-regular

    &__image-wrapper--small
      display: block
      @include media(tablet)
        display: none

    &__image-wrapper--big
      display: none
      @include media(tablet)
        display: flex
        width: 40%
        > div
          width: 66.05%
        &::after,
        &::before
          width: 33.95%
          display: block

    &__image
      width: rem(200px)
      height: auto
      transition: transform 300ms ease-out
      @include media(tablet)
        width: auto
      &:hover
        transform: translateY(-6px)

    &--arkane
      color: $color-brand-light

    &--consumers
      z-index: 4
    &--dapps
      z-index: 3
    &--arkane
      z-index: 2
    &--blockchain
      z-index: 1

    @include media(tablet)
      &--consumers,
      &--arkane
        text-align: right
        &::after
          content: ' '
          display: block
        .connecting-area__layer__image-wrapper
          &::after
            content: ''

      &--dapps,
      &--blockchain
        &::before
          content: ' '
          display: block
        .connecting-area__layer__image-wrapper
          &::before
            content: ''
