.connect-arkane-area
  padding: rem(32px) 0
  background-color: green

  &__header
    text-align: center
    color: $color-text

  &__heading
    font-weight: $font-weight-normal
    font-size: $font-size-heading-h1
    margin-bottom: rem(72px)
