.header
  position: relative
  overflow: hidden
  padding-top: rem(50px)
  @include media(tablet)
    padding-top: 0
    margin-bottom: rem(192px)

  &--dev
    margin-bottom: rem(80px)
    .header__image
      &__bg
        @include media(tablet)
          opacity: 1
          background-image: url(../img/visual-dev-blur.png)

  &__image
    width: 100%
    max-width: rem(280px)
    margin: 0 auto
    @include media(tablet)
      display: none

    &__bg, &__bg-big
      display: none
      @include media(tablet)
        position: absolute
        display: block
        left: rem(20px)
        right: rem(48px)
        top: 0
        bottom: 0
        background-size: contain
        background-position: center center
        background-repeat: no-repeat

    &__bg.fadeOut
      @include media(tablet)
        animation: fadeout 2s forwards
        animation-delay: 1s

    &__bg-big.fadeIn
      @include media(tablet)
        animation: fadein 2s forwards

    &__bg-gradient
      display: none
      @include media(tablet)
        display: block
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        background-image: linear-gradient(to right, rgba(#b186b1, 1) 0%, rgba(#ffffff, 0) 100%)
        &::before, &::after
          content: ''
          position: absolute
          left: 0
          right: 0
          top: 0
          bottom: 0
          background-repeat: no-repeat
          background-size: contain
        &::before
          background-position: right -1px
          background-image: url(../img/bg-dev-top.png)
        &::after
          background-position: right unquote("calc(100% + 1px)")
          background-image: url(../img/bg-dev-bottom.png)


    &__container
      text-align: center
      padding: 0 rem(40px)
      @include media(tablet)
        padding: 0
        position: relative
        height: 100%
        grid-column: col-start 1 / span 6
        &::after
          content: ''
          position: absolute
          left: 0
          right: 0
          top: 0
          bottom: 0
          background: #b186b1
          width: 50vw
          transform: translateX(-99.9%)
          z-index: -1

        > img
          height: 100%

  .icon-chrome
    margin-right: rem(16px)
    height: rem(36px)
    width: rem(36px)
    @include media(tablet)
      height: rem(50px)
      width: rem(50px)

  &__cta
    color: $color-text
    display: block
    line-height: rem(32px)
    margin-bottom: rem(32px)
    &__content
      line-height: rem(36px)
      @include media(tablet)
        line-height: rem(50px)
    &__text
      display: inline-block
    .link
      color: $color-text
      text-decoration: underline

  &__next
    display: none

.intro
  grid-column-start: 1
  grid-column-end: span 12
  @include media(tablet)
    grid-column-end: span 6
  @include media(tablet-ls)
    grid-column-end: span 5
  @include media(desktop)
    grid-column-end: span 4
    margin: rem(40px) 0 0 0
  @include media(wide)
    grid-column-end: span 5

  &__title
    color: $color-text
    font-weight: $font-weight-normal

  &__description
    text-align: justify
    margin-bottom: rem(40px)
    font-size: $font-size-big

  &--dev
    @include media(tablet)
      text-align: right
      grid-column-start: 7
      margin: rem(60px) 0
      .icon-chrome
        float: right
        margin-left: rem(16px)
        margin-right: 0
      .intro__description
        text-align: right
    @include media(tablet-ls)
      grid-column-start: 8
      margin: rem(100px) 0
    @include media(desktop)
      grid-column-start: 9
      margin: rem(120px) 0
    @include media(wide)
      grid-column-start: 8
      margin: rem(180px) 0

.ctas
  @include media(tablet-ls)
    margin-bottom: rem(44px)
  > *
    display: block
    margin-bottom: rem(20px)
    min-width: rem(160px)

  @include media(tablet)
    display: flex
    justify-content: flex-start
    &--right
      justify-content: flex-end
    > *
      width: auto
      padding-left: rem(32px)
      padding-right: rem(32px)
      margin-bottom: rem(16px)

      &:first-child
        margin-right: $grid-gap
      &:last-child
        margin-left: $grid-gap
