.header
  position: relative
  overflow: hidden

  &__cta__content
    line-height: rem(36px)

  &__image
    width: 100%
    max-width: rem(280px)
    margin: 0 auto
    @include media(tablet)
      display: none

  .icon-chrome
    margin-right: rem(16px)
    height: rem(36px)
    width: rem(36px)

.intro
  grid-column: col-start 1 / span 12
  @include media(tablet)
    grid-column: col-start 1 / span 5
  @include media(desktop)
    grid-column: col-start 1 / span 4
    margin: rem(40px) 0 0 0
  @include media(wide)
    grid-column: col-start 1 / span 5

.description
  text-align: justify
  margin-bottom: rem(40px)

.ctas
  > *
    display: block
    margin-bottom: rem(20px)

  @include media(tablet)
    display: flex
    justify-content: flex-start
    > *
      width: auto
      padding-left: rem(32px)
      padding-right: rem(32px)
      margin-bottom: rem(16px)

      &:first-child
        margin-right: $grid-gap
      &:last-child
        margin-left: $grid-gap
