.info-area

  .icon-chart-network
    transform: rotate(90deg)

  .icon-circle-notch
    transform: rotate(25deg)

  &__items
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: rem(32px)
    @include media(tablet)
      padding: rem(100px 0px 100px 32px)

  &__item
    display: flex
    justify-content: center
    margin-bottom: rem(32px)
    @include media(tablet)
      margin-bottom: rem(80px)
      max-width: rem(900px)

    &__icon
      width: rem(48px)
      margin-right: rem(16px)
      @include media(tablet)
        width: rem(120px)
        margin-right: rem(120px)

      .icon
        fill: $color-brand
        stroke: $color-brand
        stroke-width: 1px
        height: rem(48px)
        width: rem(48px)
        @include media(tablet)
          height: rem(120px)
          width: rem(120px)

    &__title
      font-weight: $font-weight-normal
      margin-top: rem(4px)
      margin-bottom: rem(12px)
      @include media(tablet)
        margin-top: 0
        margin-bottom: rem(32px)


    &__text
      font-size: $font-size-regular
      margin: 0
      @include media(tablet)
        font-size: rem(19px)
        line-height: rem(32px)

