.rewards-area
  padding: rem(96px) 0 rem(120px)
  background-color: $color-white

  &__icon
    margin-bottom: rem(12px)
    text-align: center
    .icon
      height: rem(60px)
      width: rem(60px)
      stroke: $color-brand-dark
      stroke-width: rem(12px)
      fill: transparent

  &__header
    text-align: center

  &__heading
    font-size: rem(26px)
    font-weight: $font-weight-normal
    margin: 0 0 rem(24px) 0

  &__subheading
    font-size: $font-size-regular
    font-weight: $font-weight-normal
