.tm
  $tm-blue: #90bfce
  $tm-blue-strip: #ecf4f7
  $tm-blue-2: #b8d4dc
  $tm-width: rem(110px)
  $tm-small: rem(32px)
  $tm-big: rem(80px)

  text-align: center
  padding: 0
  min-height: rem(340px)
  background-color: $tm-blue
  position: relative

  &__heading
    margin-top: 0
    margin-bottom: rem(12px)

  &__intro
    margin-bottom: rem(32px)
    font-size: $font-size-big
    @include media(tablet)
      margin-bottom: rem(60px)

  &__content
    position: relative
    z-index: 1
    padding: rem(32px 0)
    @include media(desktop)
      padding: rem(60px 40px)

  &__scroll
    overflow: auto
    margin-left: rem(-20px)
    margin-right: rem(-20px)

  &__testimonials
    display: flex
    &::before,
    &::after
      content: ''
      padding: rem(8px)
      display: block
    @include media(tablet)
      padding: rem(16px)
    @include media(desktop)
      justify-content: center

  &__testimonial
    width: 25%
    min-width: rem(280px)
    margin: rem(0 16px 16px)
    padding: rem(16px 32px)
    background-color: $color-white
    box-shadow: $box-shadow-light
    color: $color-text-light
    @include media(desktop)
      display: block
      margin: rem(0 32px 32px)
      padding: rem(20px 40px)

    &__author
      margin-bottom: rem(16px)

    &__photo
      display: inline-block
      width: rem(90px)
      height: rem(90px)
      border-radius: 9999px
      overflow: hidden
      margin-bottom: rem(16px)
      > img
        width: 100%
        height: 100%
        object-fit: contain

    &__name
      color: $color-brand
      text-transform: uppercase

  &__bg
    position: absolute
    bottom: 0
    left: 0
    right: 0
    top: 0
    z-index: 0

    > .container
      position: relative
      z-index: 1
      height: 100%

    &__svg
      position: absolute

    &__outer,
    &__inner
      position: absolute
      left: 0
      right: 0
      bottom: 0
      height: rem(340px)

    &__outer
      z-index: 0

    &__outer__line
        width: 100%
        position: absolute
        &--1
          bottom: 0
          background-color: $tm-blue-2
          height: rem(240px)
        &--2
          top: 0
          background-color: $tm-blue-strip
          height: rem(60px)

    &__inner
      background-color: $tm-blue

    &__line
      position: absolute
      left: 0
      right: 0

    &__line--1
      bottom: 0
      height: rem(160px)
      background-color: $color-white

      .tm__bg__svg
        fill: $tm-blue-2
        bottom: 0
        width: rem(160px)
        height: rem(160px)

        &--lt
          left: 0
          bottom: 0

        &--rt
          right: 0
          bottom: 0

    &__line--2
      height: rem(140px)
      top: 0

      .tm__bg
        &__start,
        &__middle,
        &__end
          position: absolute
          background-color: $tm-blue-strip

        &__middle
          bottom: 0
          left: rem(120px)
          right: rem(120px)
          height: rem(60px)

        &__start,
        &__end
          top: 0
          width: rem(120px)
          height: rem(140px)


        &__start
          left: 0

        &__end
          right: 0

        &__svg
          fill: $tm-blue
          width: rem(80px)
          height: rem(80px)
          &--lb
            left: 0
            bottom: 0
          &--rt
            right: 0
            top: 0
          &--rb
            right: 0
            bottom: 0
          &--lt
            left: 0
            top: 0

    &__line--3
      bottom: rem(160px)
      height: rem(80px)

      .tm__bg__svg
        fill: $tm-blue-2
        bottom: 0
        width: rem(80px)
        height: rem(80px)

        &--lb
          left: 0
          bottom: 0

        &--rb
          right: 0
          bottom: 0

