<section class="info-area" id="info-area">
  <div class="container">
    <header class="info-area__header">
      <h1 class="info-area__heading">
        Why Arkane for business
      </h1>
    </header>
    <div class="info-area__infographic">
      <div class="info-area__items">
        {% include fragments/info-item.html content="Multichain" icon="multichain" %}
        {% include fragments/info-item.html content="Rich APIs" icon="rich-apis" %}
        {% include fragments/info-item.html content="No extension needed" icon="no-extension" %}
        {% include fragments/info-item.html content="Wallet Generation" icon="wallet" %}
        {% include fragments/info-item.html content="Large audience" icon="large-audience" %}
      </div>
    </div>
  </div>
</section>
