<section class="info-area" id="info-area">
  <div class="container">
    <header class="info-area__header">
      <h1 class="info-area__heading">
        Why Arkane for business
      </h1>
    </header>
    <div class="info-area__infographic">
      <div class="info-area__items">
        {% include fragments/info-item.html title="Multichain"          icon="multichain"     description="Develop multi-blockchain applications with ease" %}
        {% include fragments/info-item.html title="Rich APIs"           icon="rich-apis"      description="Get access to an easy to use SDK or set of APIs" %}
        {% include fragments/info-item.html title="No extension needed" icon="no-extension"   description="Take away the need for browser extensions, such as Metamask" %}
        {% include fragments/info-item.html title="Wallet Generation"   icon="wallet"         description="Automatic wallet creation for your users" %}
        {% include fragments/info-item.html title="Large audience"      icon="large-audience" description="Build apps and tap into our existing network of users" %}
      </div>
    </div>
  </div>
</section>
