<section class="info-area" id="info-area">
  <div class="container">
    <div class="info-area__items">
      {% include fragments/info-item.html
        title="Start working instantly"
        icon="rocket"
        description="Don't waste time with complicated setups and hard-to-use tooling. <a class='link' href='https://docs.arkane.network' rel='noopener noreferrer' target='_blank'>Download</a> one of the quickstart examples and start coding straight away. Simple and easy."
      %}
      {% include fragments/info-item.html
        title="Support web, mobile and desktop"
        icon="phone-laptop"
        description="Any type of application can be build using our API solution, native mobile, or a regular web application, all <em>without</em> any special software requirements for your consumers."
      %}
      {% include fragments/info-item.html
        title="Customizable based on your needs"
        icon="shapes"
        description="We understand that every product is different, and has it's own needs. Our APIs allow developers to integrate our services in the best way they see fit, enriching the customer experience."
      %}
    </div>
  </div>
</section>
