<section class="request-area" id="request-area">
  <div class="container">
    <header class="request-area__header">
      <h1 class="request-area__heading">
       Register your application with Arkane for business
      </h1>
      <h2 class="request-area__subheading">
        Filling in a small form to register your application with Arkane and get access to the mainnets of all our supported Blockchains.
      </h2>
    </header>
   <form class="container" action="#request-api-key">
    <div class="request-area__cta">
       <a href="https://arkane-network.typeform.com/to/hzbcGJ" rel="noopener noreferrer" target="_blank" class="btn btn--secondary">Register</a>
    </div>
   </form>
    <!--
    <form class="container" action="#request-api-key">
      <div class="request-area__cta">
        <button type="submit" class="btn btn--secondary">
          Request API key
        </button>
      </div>
    </form>
   -->
  </div>
</section>
