<section class="tm" id="tm">
  <div class="tm__bg">
    <div class="tm__bg__outer">
      <div class="tm__bg__outer__line tm__bg__outer__line--1"></div>
      <div class="tm__bg__outer__line tm__bg__outer__line--2"></div>
    </div>
    <div class="container">
      <div class="tm__bg__inner">
        <div class="tm__bg__line tm__bg__line--1">
          <svg class="tm__bg__svg tm__bg__svg--lt">
            <polygon points="160,0 0,0 0,160"></polygon>
          </svg>
          <svg class="tm__bg__svg tm__bg__svg--rt">
            <polygon points="0,0 160,0 160,160"></polygon>
          </svg>
        </div>
        <div class="tm__bg__line tm__bg__line--2">
          <div class="tm__bg__start">
            <svg class="tm__bg__svg tm__bg__svg--lb">
              <polygon points="0,80 0,0 80,80"></polygon>
            </svg>
            <svg class="tm__bg__svg tm__bg__svg--rt">
              <polygon points="0,0 80,0 80,80"></polygon>
            </svg>
          </div>
          <div class="tm__bg__middle"></div>
          <div class="tm__bg__end">
            <svg class="tm__bg__svg tm__bg__svg--rb">
              <polygon points="0,80 80,80 80,0"></polygon>
            </svg>
            <svg class="tm__bg__svg tm__bg__svg--lt">
              <polygon points="0,80 0,0 80,0"></polygon>
            </svg>
          </div>
        </div>
        <div class="tm__bg__line tm__bg__line--3">
          <svg class="tm__bg__svg tm__bg__svg--lb">
            <polygon points="0,0 0,80, 80,80"></polygon>
          </svg>
          <svg class="tm__bg__svg tm__bg__svg--rb">
            <polygon points="0,80 80,80 80,0"></polygon>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="tm__content">
      <header class="tm__header">
        <h1 class="tm__heading">
          Testimonials
        </h1>
        <div class="tm__intro">
          What our clients say about Arkane
        </div>
      </header>

      <div class="tm__scroll">
        <div class="tm__testimonials">
          {% include fragments/testimonial.html
             image="testimonials/sergey.jpg"
             name="Sergey Kopov"
             description="Founder 0xGames"
             text="Arkane allows us to create web and mobile games for mainstream gamers on multiple blockchains. They also offer awesome support."
          %}
          {% include fragments/testimonial.html
             image="testimonials/narek.jpg"
             name="Narek Gevorgyan"
             description="CEO @ CoinStats"
             text="Arkane solves a real problem and gives me fresh insights to build more useful features on top of Coin Stats."
          %}
          {% include fragments/testimonial.html
             image="testimonials/jan.jpg"
             name="Jan Deruyck"
             description="Director @ In The Pocket"
             text="With Arkane we can build blockchain applications for our enterprise clients without becoming blockchain experts ourselves."
          %}
        </div>
      </div>
    </div>
  </div>
</section>
