.navigation
  display: none
  @include media(tablet)
    display: flex
    justify-content: space-between
    align-items: center
    height: rem(48px)
    margin-top: rem(24px)

.logo, .logo__small
  display: block
  height: rem(42px)
  svg
    height: 100%
    width: 100%

.logo
  display: none
  @include media(tablet)
    display: block

.logo__small
  @include media(tablet)
    display: none

.nav
  &__list
    margin: 0
    list-style: none
    display: flex
    flex-direction: column
    @include media(tablet)
      flex-direction: row
      align-items: center
      text-align: center
      justify-content: flex-end

    &-item
      display: flex
      margin: 0 0 0 rem(16px)
      font-weight: $font-weight-btn
      .btn
        margin: 0
        font-weight: $font-weight-bold
        @include media(tablet)
          margin-left: rem(16px)
      .link
        justify-content: space-between
        line-height: rem(42px)
        padding: rem(0 16px)
        border: none
        transition: color 200ms ease-out
        &:hover, &:active
          text-decoration: none

        &:hover, &:active,
        &--active
          color: $color-brand

        > span
          display: block
          line-height: 1.2

