<div class="intro">
  <h1 class="intro__title">Connecting Crypto</h1>
  <p class="intro__description">
    You shouldn't be a rocket scientist to manage your cryptocurrencies.
    Use Arkane to access your crypto assets without the fear of losing access.
  </p>
  <div class="ctas">
    <a href="https://app.arkane.network" class="btn">Sign in</a>
    <a href="{{ '/build-on-arkane.html' | prepend: site.pagesurl }}" class="btn btn--secondary">Build on Arkane</a>
  </div>

  <div class="header__cta header__cta">
    <div class="header__cta__content">

    </div>
  </div>

</div>

<div class="intro-play-button">
  {% include fragments/video/page-video-play-button.html %}
</div>
