<div class="intro">
  <h1 class="intro__title">Connecting Crypto</h1>
  <p class="intro__description">
    You shouldn't be a rocket scientist to manage your cryptocurrencies.
    Use Arkane to access your crypto assets without the fear of losing access.
  </p>
  <div class="ctas">
    <a href="#" class="btn">Get Invited</a>
    <a href="/build-on-arkane.html" class="btn btn--secondary">Build on Arkane</a>
  </div>

  <div class="header__cta">
    <div class="header__cta__content">
      <svg class="icon icon-chrome">
        <use xlink:href="#icon-chrome"></use>
      </svg>
      <span>Chrome Extension</span>
      <span>coming soon!</span>
    </div>
  </div>

</div>
