@import ../partials/keep-in-touch-area

.newsletter
  text-align: center

  &__heading
    font-weight: $font-weight-normal

  &__subheading
    color: $color-brand-dark

  .control__label
    display: none

  .control__input
    border-color: $color-brand-dark
