@import ../partials/keep-in-touch-area

.newsletter
  text-align: center
  background-color: $color-lightest-grey

  &__heading
    font-weight: $font-weight-normal

  &__heading,
  &__subheading
    color: $color-text

  .control__label
    display: none

  .control__input
    margin: 0 auto
    border-color: $color-text
    max-width: rem(256px)
    line-height: rem(32px)
    height: rem(32px)
    &::placeholder
      opacity: .25
