<div class="intro intro--dev">
  <h1 class="intro__title">Next generation wallet provider</h1>
  <p class="intro__description">
    Arkane for business is a network of blockchain wallets, accessible via API's, offering multi chain compatibility
    and increasing useability.
  </p>
  <div class="ctas ctas--right">
    <a href="#" class="btn btn--secondary">Request API key</a>
    <a href="http://docs.arkane.network/" class="btn btn--brand-dark">API Docs</a>
  </div>

  <div class="header__cta">
    <div class="header__cta__content">
      {% include fragments/chrome-svg.html %}
      <div class="header__cta__text">
        <span>Chrome Extension</span>
        <span>coming soon!</span>
      </div>
    </div>
  </div>
</div>
