<div class="color-block color-block--brand">
  <div class="container">
    <div class="color-block__bg">
      <div class="color-block__bg-helper color-block__bg-helper--start">
        <svg class="color-block__svg color-block__svg--rb">
          <polygon points="0,32 32,32 32,0"></polygon>
        </svg>
        <svg class="color-block__svg color-block__svg--lt">
          <polygon points="0,80 0,0 80,0"></polygon>
        </svg>
      </div>
    </div>
    <div class="color-block__content">
      <header>
        <h1 class="color-block__heading">{{ include.title }}</h1>
      </header>
      <p class="color-block__description">{{ include.description }}</p>
      <a href="{{ include.ctaLink }}" class="color-block__cta btn btn--brand">{{ include.ctaText }}</a>
      <div class="color-block__bg-helper color-block__bg-helper--end">
        <svg class="color-block__svg color-block__svg--lb">
          <polygon points="0,32 0,0 32,32"></polygon>
        </svg>
        <svg class="color-block__svg color-block__svg--rt">
          <polygon points="0,0 80,0 80,80"></polygon>
        </svg>
      </div>
    </div>
  </div>
</div>
