<p>
  ARKANE may use "cookies" when You visit the Website. A cookie is information sent from a web-server to your web-browser, and which is placed on your hard-drive. Cookies
  permit
  our website to recognize future visits using your computer. Cookies enhance the convenience and use of our website. You may choose to decline cookies if your browser
  permits,
  but doing so may affect your use of the Website and your ability to access or use certain web features. We will use the follow cookies:
</p>
<h4>A) Functional cookies</h4>

<p>Provider uses functional cookies, Keycloak, which save the session-ID as well as the information consulted during the session. They are necessary to ensure the adequate
  functioning of our website. These cookies make sure You will be timely and correctly provided with the information desired each time You will visit the Website. We do not
  request
  Your consent for using these functional cookies. The information gathered through these functional cookies shall not be passed on to any third party.
</p>

<h4>B) Analytical cookies</h4>
<p>Analytical cookies, the _ga and _gid cookies of Google Analytics, enable Provider to analyse the use that is being made of the Website. They allow us, for example, to
  register
  how frequently the Website is being visited by different visitors, through which pages users access the Website and which pages of theWebsite are visited most. The device
  You
  use to visit the Website, is accorded a randomly generated identification number, which is used by Google's servers to compute the statistics. Google will not use the
  generated
  identification number for its own purposes and will not link it to other data in its possession. Provider shall not install tracking cookies without requesting Your prior
  consent.<br/>
  ..
</p>

<h4>C) Tracking cookies</h4>
<p>
  Tracking cookies allow Provider to monitor your online activities on the Website. They enable Providers and advertisers to provide You with personalized online
  advertisements
  and tailor-made content based on your online activities on the Website. Provider shall not install tracking cookies without requesting Your prior consent.
</p>

<h4>
  D) Social media plug-in cookies
</h4>
<p>
  Social media plug-in cookies are used to enable Provider to display content of social media on the Website. Provider shall not install social media cookies without
  requesting
  Your prior consent. Please consult the applicable cookie and privacy policies and settings of the respective social media providers you give consent to.
</p>
