<div class="nav-mobile" id="nav-mobile">
  <nav class="nav-mobile__nav">
    <ul class="nav-mobile__list">
      <li class="nav-mobile__list-item"><a class="link link--dark" href="{{ '/build-on-arkane.html' | prepend: site.pagesurl }}">Developer API/SDK</a></li>
      <li class="nav-mobile__list-item"><a class="link link--dark" href="{{ site.baseurl }}">Home</a></li>
      <li class="nav-mobile__list-item"><a class="btn btn--brand" href="https://app.arkane.network">Access Wallet</a></li>
    </ul>
  </nav>
</div>
<div class="nav-mobile__circle"></div>
<div class="nav-mobile__button" data-toggle="#nav-mobile">
  {% include fragments/hamburger-icon.html %}
</div>
<div class="nav-mobile__logo">
  <img src="{{site.imgurl}}/logo-arkane-a-light-animated.svg" alt="logo arkane"/>
</div>
