<div class="navigation">
  <div class="logo">
    <a href="/" alt="homepage"><img src="{{site.imgurl}}/logo-arkane-animated-light.svg" alt="logo arkane"/></a>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__list-item"><a class="link {%if page.page == 'index' %}link--active{%endif%}" href="/">For Crypto Users</a></li>
      <li class="nav__list-item"><a class="link {%if page.page == 'build-on-arkane' %}link--active{%endif%}" href="{{ '/build-on-arkane.html' | prepend: site.pagesurl }}">For Developers</a></li>
      <!--<li class="nav__list-item"><a class="link" href="#">Pricing</a></li>-->
      <!--<li class="nav__list-item"><a href="#for-developers" class="btn btn&#45;&#45;outline">For Developers</a></li>-->
      <!--<li class="nav__list-item"><a class="link" href="#">Log in</a></li>-->
    </ul>
  </nav>
</div>
