<div class="navigation">
  <div class="logo">
    <a href="/"><img src="{{site.imgurl}}/logo-arkane-animated-light.svg" alt="logo arkane"/></a>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__list-item"><a class="link {%if page.page == 'index' %}link--active{%endif%}" href="/">For Crypto Users</a></li>
      <li class="nav__list-item"><a class="link {%if page.page == 'build-on-arkane' %}link--active{%endif%}" href="{{ '/build-on-arkane.html' | prepend: site.pagesurl }}">For Developers</a></li>
      <li class="nav__list-item"><a class="link" href="https://app.arkane.network">Login</a></li>
    </ul>
  </nav>
</div>
