<div class="nav-mobile" id="nav-mobile">
  <nav class="nav-mobile__nav">
    <ul class="nav-mobile__list">
      <!--<li class="nav-mobile__list-item"><a class="link" href="#">Blog</a></li>-->
      <li class="nav-mobile__list-item"><a class="link" href="https://api.arkane.network/docs/index.html">API Docs</a></li>
      <li class="nav-mobile__list-item"><a class="link" href="/build-on-arkane.html">Build on Arkane</a></li>
      <li class="nav-mobile__list-item"><a class="link" href="/">For crypto users</a></li>
    </ul>
  </nav>
</div>
<div class="nav-mobile__circle"></div>
<div class="nav-mobile__button" data-toggle="#nav-mobile">
  {% include fragments/hamburger-icon.html %}
</div>
<div class="nav-mobile__logo">
  <img src="{{site.imgurl}}/logo-arkane-a-light-animated.svg" alt="logo arkane"/>
</div>
