<section class="partners-area" id="partners-area">
  <div class="container">
    <header class="partners-area__header">
      <h1 class="partners-area__heading">
        Meet some of our partners
      </h1>
      <div class="partners-area__partners">
        <ul class="partners-area__items">
          <li class="partners-area__item">
            <img class="partners-area__image" title="Ether Kingdoms" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{site.imgurl}}/partners/etherkingdoms.png?{{site.time | date: '%s%N'}}"/>
          </li>
          <li class="partners-area__item">
            <img class="partners-area__image" title="Chibi Fighters" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{site.imgurl}}/partners/chibifighters.png?{{site.time | date: '%s%N'}}"/>
          </li>
          <li class="partners-area__item">
            <img class="partners-area__image" title="0xGames" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{site.imgurl}}/partners/0xgames.png?{{site.time | date: '%s%N'}}"/>
          </li>
          <li class="partners-area__item">
            <img class="partners-area__image" title="Moonify" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{site.imgurl}}/partners/moonify.png?{{site.time | date: '%s%N'}}"/>
          </li>
        </ul>
        <ul class="partners-area__items">
          <li class="partners-area__item">
            <img class="partners-area__image" title="Thorblock" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{site.imgurl}}/partners/thorblock.png?{{site.time | date: '%s%N'}}"/>
          </li>
          <li class="partners-area__item">
            <img class="partners-area__image" title="SafeWallet byy SAFETECH" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{site.imgurl}}/partners/safewallet.png?{{site.time | date: '%s%N'}}"/>
          </li>
          <li class="partners-area__item">
            <img class="partners-area__image" title="NEO smart economy" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{site.imgurl}}/partners/neo.svg?{{site.time | date: '%s%N'}}"/>
          </li>
          <li class="partners-area__item">
            <img class="partners-area__image" title="Vexchanges" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{site.imgurl}}/partners/vexchange.png?{{site.time | date: '%s%N'}}"/>
          </li>
          <li class="partners-area__item">
            <img class="partners-area__image" title="Jarvis" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{site.imgurl}}/partners/jarvis.png?{{site.time | date: '%s%N'}}"/>
          </li>
        </ul>
        <ul class="partners-area__items">
          <li class="partners-area__item">
            <img class="partners-area__image" title="CinderCloud" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{site.imgurl}}/partners/cindercloud.png?{{site.time | date: '%s%N'}}"/>
          </li>
          <li class="partners-area__item">
            <img class="partners-area__image" title="CoinStats" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{site.imgurl}}/partners/coinstats.png?{{site.time | date: '%s%N'}}"/>
          </li>
          <li class="partners-area__item">
            <img class="partners-area__image" title="Gilded" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{site.imgurl}}/partners/gilded.png?{{site.time | date: '%s%N'}}"/>
          </li>
          <li class="partners-area__item">
            <img class="partners-area__image" title="totle" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{site.imgurl}}/partners/totle.png?{{site.time | date: '%s%N'}}"/>
          </li>
          <li class="partners-area__item">
            <img class="partners-area__image" title="FundRequest" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{site.imgurl}}/partners/fundrequest.png?{{site.time | date: '%s%N'}}"/>
          </li>
          <li class="partners-area__item">
            <img class="partners-area__image" title="BTC Direct" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{site.imgurl}}/partners/btcdirect.svg?{{site.time | date: '%s%N'}}"/>
          </li>
        </ul>
      </div>
    </header>
  </div>
</section>
