<div class="pricing-area__subscription pricing-area__subscription--free">
  <div class="pricing-area__subscription__content">
    <div class="pricing-area__title">FREE</div>
    <div class="pricing-area__price">$0</div>
    <ul class="pricing-area__benefits">
      <li class="pricing-area__benefit">Acccess to 1 Blockchain</li>
      <li class="pricing-area__benefit">3 personal wallets</li>
      <li class="pricing-area__benefit">2 application wallets</li>
      <li class="pricing-area__benefit">5 linked applications</li>
      <li class="pricing-area__benefit">40% airdrop chance</li>
      <li class="pricing-area__benefit">Gems benefits</li>
    </ul>
  </div>
  <div class="pricing-area__cta">
    <button class="btn btn--brand-dark">Get Started</button>
  </div>
</div>
