<div class="pricing-area__subscription pricing-area__subscription--ultimate">
  <div class="pricing-area__subscription__content">
    <div class="pricing-area__title">ULTIMATE</div>
    <div class="pricing-area__price">
      <span>$7.99</span>
      <span class="pricing-area__price__postfix">/mo</span>
      <div class="pricing-area__price__note">(yearly billed)</div>
    </div>
    <ul class="pricing-area__benefits">
      <li class="pricing-area__benefit">Access to all supported blockchains</li>
      <li class="pricing-area__benefit">Unlimited wallets</li>
      <li class="pricing-area__benefit">Unlimited linked applications</li>
      <li class="pricing-area__benefit">Best chance in airdrops</li>
      <li class="pricing-area__benefit">Free KYC registration</li>
    </ul>
  </div>
  <div class="pricing-area__cta">
    <button class="btn btn--brand-dark">Get Started</button>
  </div>
</div>
