<div class="pricing-area__subscription pricing-area__subscription--premium">
  <div class="pricing-area__subscription__content">
    <div class="pricing-area__label">MOST POPULAR</div>
    <div class="pricing-area__title">PREMIUM</div>
    <div class="pricing-area__price">
      <span>$4.99</span>
      <span class="pricing-area__price__postfix">/mo</span>
      <div class="pricing-area__price__note">(yearly billed)</div>
    </div>
    <ul class="pricing-area__benefits">
      <li class="pricing-area__benefit">2 blockchains</li>
      <li class="pricing-area__benefit">5 wallets per blockchain</li>
      <li class="pricing-area__benefit">5 linked apps per blockchain</li>
      <li class="pricing-area__benefit">Higher chance in airdrops</li>
      <li class="pricing-area__benefit">Free KYC registration</li>
    </ul>
  </div>
  <div class="pricing-area__cta">
    <button class="btn btn--{{include.cta}}">Get Started</button>
  </div>
</div>
