<div class="tm__testimonial">
  <div class="tm__testimonial__content">
    <div class="tm__testimonial__author">
      <div class="tm__testimonial__photo">
        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ site.imageurl }}/{{ include.image }}" alt="{{ include.name }} - {{ include.description}}">
      </div>
      <div class="tm__testimonial__id">
        <div class="tm__testimonial__name">
          {{ include.name }}
        </div>
        <div class="tm__testimonial__description">
          {{ include.description }}
        </div>
      </div>
    </div>
    <div class="tm__testimonial__text">
      {{ include.text }}
    </div>
  </div>
</div>
