<section class="trusted-area" id="trusted-area">
  <div class="container">
    <div>
      <p class="trusted-area__heading">
        Trusted by +3000 users and member of
      </p>
      <ul class="trusted-area__items">
        <li class="trusted-area__item">
          <img class="trusted-area__image" title="imec" src="{{site.imgurl}}/memberof/imec.png"/>
        </li>
        <li class="trusted-area__item">
          <img class="trusted-area__image" title="B-Hive" src="{{site.imgurl}}/memberof/b-hive.png"/>
        </li>
        <li class="trusted-area__item">
          <img class="trusted-area__image" title="Inatba" src="{{site.imgurl}}/memberof/inatba.png"/>
        </li>
        <li class="trusted-area__item">
          <img class="trusted-area__image" title="Beltug Be Connected" src="{{site.imgurl}}/memberof/beltug.png"/>
        </li>
        <li class="trusted-area__item">
          <img class="trusted-area__image" title="Blockchain Game Alliance" src="{{site.imgurl}}/memberof/bga.png"/>
        </li>
      </ul>
    </div>
  </div>
</section>


